#pp-nav {
   display: none;
}
body {
    header {
        position: fixed;
        top: 0;
        height: 80px;
        width: 100%;
        z-index: 100000;
        .logo {
            float: left;
            display: block;
            margin-left: 150px;
            width: 110px;
            height: 43px;
            margin-top: 20px;
            background: url("../img/show/icon_logo.png") no-repeat center center;
            background-size: 110px 43px;
        }
        ul {
            width: 260px;
            height: 30px;
            float: right;
            margin-top: 30px;
            li {
                float: left;
                width: 100px;
                height: 30px;
                color: #fff;
                text-align: center;
                a {
                    font-size: 16px;
                    height: 30px;
                    display: inline-block;
                    width: auto;
                    color: #fff;
                    cursor: pointer;
                    font-weight: 400;
                    text-decoration: none;
                    border: none;
                }
                a:hover {
                    border-bottom: 2px solid #fff;
                }
                a:visited {
                    border: none;
                }
                .active {
                    border-bottom: 2px solid #fff;
                }
            }

        }
        @media screen and (max-width:768px) {
            .logo {
                margin-left: 20px;
            }
            ul {
                width: 220px;
            }
        }
       
        @media screen and (max-width: 414px) {
            height: 55px;
            .logo {
                width: 90px;
                height: 35px;
                background-size: 90px 35px;
                margin-top: 12px;
                margin-left: 12px;
            }
            ul {
                width: 35%;
                margin-top: 18px;
                li {
                    width: 45%;
                    a {
                        font-size: 14px;
                        height: 25px;
                    }
                }
            }
        }
    }
    
    .cxdPart {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .cxd-bg-2 {
        background-color: #f3f8f6;
        position: relative;
        .bg_2_up {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url("../img/index/bg_2_up.png") no-repeat center center;
            @media screen and (max-width: 1024px) {
                background-size: 100%;
            }
        }
        img {
            position: absolute;
            bottom: 0;
            width: 100%;
            @media screen and (max-width: 1024px){
                height: 100%;
                bottom: -10%;
            }
        }
    }
    .cxd-bg-3 {
        background-image: url("../img/index/bg_3.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        @media screen and (max-width: 1024px) {
            background-image: url(../img/index/m/3.jpg);
        }
        h2 {
            padding-top: 12%;
            padding-bottom: 5%;
            font-size: 35px;
            font-weight: 300;
            margin: 0 auto;
            color: #fff;
            width: 100%;
        }
        .sys_items {
            width: 923px;
            padding-left: 10px;
            height: auto;
//          display: flex;
//          justify-content: space-between;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            color: #fff;
            li {
                float: left;
                margin-right: 4%;
            }
            li:last-child {
                margin-right: 0px;
            }
            li:nth-child(odd) {
                width: 160px;
                height: 160px;
                background: url("../img/index/img_yuan.png") no-repeat center center;
                position: relative;
                background-size: 100%;
                div {
                    width: 100%;
                    font-size: 20px;
                    font-weight: 300;
                    position: absolute;
                    line-height: normal;
                    &:first-child {
                        top: 26%;
                    }
                    &:last-child {
                        bottom: 20%;
                    }
                }
            }
            li:nth-child(even) {
                width: auto;
                height: 100%;
                font-size: 24px;
                font-weight: 300;
            }
        }
        p {
            color: #e3e2e3;
            width: 924px;
            height: auto;
            margin: 70px auto 0;
            line-height: 190%;
            font-size: 18px;
            font-weight: 300;
            text-align: left;
            display: inline-block;
        }
        @media screen and (max-width: 1024px) {
            h2 {
                font-size: 25px;
                padding-top: 38%;
                padding-bottom: 12%;
            }
            .sys_items {
                width: 65%;
                li {
                    margin-right: 3%;
                }
                li:nth-child(odd) {
                    width: 17.335%;
                    div {
                        font-size: 12px;
                    }
                }
                li:nth-child(even) {
                    font-size: 12px;
                }
            }
            p {
                width: 68.5%;
            }
        }
        @media screen and (max-width: 414px) {
            h2 {
                padding-top: 35%;
                padding-bottom: 12%;
            }
            .sys_items {
                width: 90%;
                li:nth-child(odd) {
                    width: 17.335%;
                    div {
                        font-size: 12px;
                        width: 110%;
                        &:first-child {
                            top: 16%;
                        }
                        &:last-child {
                            bottom: 8%;
                        }
                    }
                }
                li {
                  font-size: 12px;
                }
            }
            p {
                width: 87.5%;
                font-size: 12px;
                margin-top: 30px;
                line-height: 160%;
            }
        }
        @media screen and (max-width: 320px) {
            .sys_items {
                li:nth-child(5) {
                    div {
                        &:last-child {
                            bottom: -25%;
                        }
                    } 
                }
            }
        }
    }
    .cxd-bg-4 {
        background-image: url("../img/index/bg_4.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        text-align: center;
        @media screen and (max-width: 1024px) {
            background-image: url(../img/index/m/4.jpg);
        }
        .title {
            width: 100%;
            height: auto;
            h2 {
                padding-top: 10%;
                padding-bottom: 30px;
                font-size: 40px;
                font-weight: 300;
                margin: 0 auto;
                color: #fff;
            }
            h6 {
                padding-bottom: 5%;
                font-size: 18px;
                font-weight: 300;
                margin: 0 auto;
                color: #fff;
            }
        }

        .sys_items {
            width: 982px;
            height: 360px;
//          display: flex;
//          justify-content: space-between;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            color: #fff;
            li {
                background-color: rgba(20,21,51,0.7);
                width: 182px;
                height: 100%;
                float: left;
                margin-right: 1.5%;
                .an_icon {
                    width: 116px;
                    height: 116px;
                    line-height: 116px;
                    margin: 0 auto;
                    box-sizing: border-box;
                    margin-top: 80px;
                    margin-bottom: 60px;
                    background-color: rgba(12,13,34,0.7);
                    border-radius: 50%;
                    img {
                        vertical-align: middle;
                    }
                }
                .icon_title {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 190%;
                }
            }
            li:last-child {
                margin-right: 0px;
            }
        }
        @media screen and (max-width: 768px) {
            .title {
                h2 {
                    padding-top: 38%;
                    font-size: 25px;
                    padding-bottom: 8px;
                }
                h6 {
                    font-size: 14px;
                    padding-bottom: 18%;
                }
            }
            .sys_items {
                width: 100%;
                height: 40%;
                li {
                    width: 19%;
                    height: 100%;
                    margin-right: 1.2%;
                    .an_icon {
                        width: 80%;
                        height: 10%;
                        line-height: 10%;
                        margin-top: 90%;
                        margin-bottom: 90%;
                    }
                    .icon_title {
                        font-size: 12px;
                    }
                }
            }
        }
        @media screen and (max-width: 414px) {
            .title {
                h2 {
                    padding-top: 48%;
                }
                h6 {
                    padding-bottom: 38%;
                }
            }
            .sys_items {
                height: 30%;
                li {
                    .an_icon {
                        margin-top: 70%;
                        margin-bottom: 75%;
                    }
                }
             }
        }
        @media screen and (max-width: 320px) {
             .title {
                h2 {
                    padding-top: 38%;
                }
                h6 {
                    padding-bottom: 18%;
                }
            }
            .sys_items {
                height: 40%;
                li {
                    .an_icon {
                        margin-top: 90%;
                        margin-bottom: 90%;
                    }
                }
             }
        }
    }
    .cxd-bg-5 {
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
    }
    .left {
        display: inline-block;
        background-image: url("../img/index/bg_5_left.jpg");
        .cxd-mask {
            article {
                text-align: left;
            }
        }
    }
    .cxd-bg-5 > article {
        display: none;
    }
    .cxd-mask {
        width: 100%;
        height: 100%;
        background-color: rgba(235,231,232,0.7);
        article {
            width: 100%;
            height: 100%;
            color: #333;
            font-weight: 300;
            width: 370px;
            margin: 0 auto;
            padding-top: 30%;
            h6 {
                font-size: 20px;
                font-weight: 300;
                text-align: right;
                width: 370px;
                display: inline-block;
            }
            p {
                padding-bottom: 60px;
                font-size: 20px;
                line-height: 190%;
                width: 370px;
                word-wrap: break-word;
                word-break: normal;
            }
        }
    }
    .left .cxd-mask {
        display: none;
    }
    .left:hover .cxd-mask {
        cursor: pointer;
    }
    .right {
        float: right;
        background-image: url("../img/index/bg_5_right.jpg");
        .cxd-mask {
            article {
                text-align: right;
                p {
                    text-align: left;
//                  float: right;
                }
            }
        }
    }
    .right:hover .cxd-mask {
        cursor: pointer;
    }
    @media screen and (max-width: 768px) {
        .cxd-bg-5 {
            width: 100%;
            height: 50%;
        }
        .left {
            display: block;
        }
        .cxd-mask {
            article {
                width: auto;
                h6 {
                    font-size: 16px;
                    width: 50%;
                    margin: 0 auto;
                    display: block;
                }
                p {
                    padding-bottom: 6%;
                    font-size: 14px;
                    line-height: 160%;
                    letter-spacing: 0;
                    width: 50%;
                    margin: 0 auto;
                }
            }
        }
        .right {
            .cxd-mask {
                article {
                    padding-right: 3%;
                }
            }
        }
    }
    @media screen and (max-width: 414px) {
        .cxd-mask {
            article {
                padding-top: 20%;
                h6 {
                    font-size: 16px;
                    width: 97%;
                    margin: 0 auto;
                    display: block;
                }
                p {
                    padding-bottom: 4%;
                    font-size: 14px;
                    line-height: 160%;
                    letter-spacing: 0;
                    width: 98%;
                    margin: 0 auto;
                }
            }
        }
    }
    .cxd-bg-7 {
        background-color: #f3f8f6;
    }
    /*
         * 轮播图
         */
    .swiper-container {
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        line-height: 100%;
        .swiper-wrapper {
            width: 100%;
            position: relative;
            .icon1 {
                background-image: url("../img/index/banner_icon1.jpg");
                .cxd-page-1 {
                    .classroom {
                        position: relative;
                    }
                }
            }
            .icon2 {
                background-image: url("../img/index/banner_icon2.jpg");
                .cxd-page-1 {
                    .classroom {
                        position: relative;
                    }
                }
            }
            .cxd-page-1 {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    .classroom {
                        top: 35%;
                        color: #FFF;
                        min-width: 210px;
                        text-align: center;
                        h2 {
                            font-size: 50px;
                            height: 90px;
                            line-height: 90px;
                            font-weight: 300;
                        }
                        p {
                            width: 100%;
                            font-size: 20px;
                            font-weight: 300;
                            height: 60px;
                            line-height: 60px;
                        }
                        .line {
                            width: 100%;
                            height: 60px;
                            text-align: center;
                            p {
                                width: 500px;
                                margin: 0 auto;
                                border-bottom: 2px solid #fff;
                            }
                        }
                        @media screen and (max-width: 414px) {
                            h2 {
                                font-size: 25px;
                                height: 50px;
                                line-height: 50px;
                                font-weight: 400;
                            }
                            p {
                                font-size: 12px;
                                height: 40px;
                                line-height: 40px;
                                font-weight: 400;
                            }
                            .line {
                                height: 40px;
                                p {
                                    width: 300px;
                                    border-bottom: 1px solid #fff;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width:1024px){
                   .icon1 {
                        background-image: url("../img/index/m/1.jpg");
                    } 
                    .icon2 {
                        background-image: url("../img/index/m/6.jpg");
                    } 
                }
            .swiper-slide {
                background-size: 100% 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        .pagination {
            position: absolute;
            z-index: 20;
            width: 100%;
            bottom: 36px;
            left: 0;
            text-align: center;
            font-size: 0;
            line-height: 12px;
            .swiper-pagination-switch {
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: #FFFFFF;
                border-radius: 50%;
                cursor: pointer;
                margin-right: 28px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
            }

            .swiper-active-switch {
                background: #555;
            }
        }

    }
}
